<nav class="navbar navbar-expand-sm bg-white border-bottom" *ngIf="showNavBar">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-semibold text-dark" routerLink="/dashboard">MyApp</a>

    <!-- Toggle for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav items -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- Left aligned links -->
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let link of navLinks">
          <li class="nav-item" *ngIf="link.roles.includes(userRole!)">
            <a
              class="nav-link"
              [routerLink]="link.path"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ link.label }}
            </a>
          </li>
        </ng-container>
      </ul>

      <!-- Right aligned links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/notification" routerLinkActive="active-link">Notifications</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-dark btn-sm ms-3" (click)="logout()">Logout</button>
        </li>
      </ul>

    </div>
  </div>
</nav>
<app-spinner></app-spinner>
<router-outlet></router-outlet>
