<div class="login-wrapper fade-in">
  <div class="glass-card login-card fade-in-up">

    <h1 class="text-center fw-bold login-brand">Credict</h1>
    <h2 class="text-center fw-semibold">Login Now</h2>
    <p class="text-center text-muted">Hi, Welcome back 👋</p>

    <form (ngSubmit)="onLogin()">
      <!-- Email -->
      <div class="form-group mb-3">
        <label class="form-label">Email</label>
        <input type="email" [(ngModel)]="userEmail" class="form-control" placeholder="Enter your email id" name="email" required>
      </div>

      <!-- Password -->
      <div class="form-group mb-4 position-relative">
        <label class="form-label">Password</label>
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userPassword" class="form-control"
               placeholder="Enter your password" name="password" required>
        <span class="position-absolute toggle-password" (click)="togglePasswordVisibility()">
          <i class="bi" [ngClass]="{'bi-eye': !showPassword, 'bi-eye-slash': showPassword}"></i>
        </span>
      </div>

      <!-- Login Button -->
      <button type="submit" class="btn login-button w-100">Login</button>
    </form>

    <!-- Signup Link -->
    <p class="text-center text-muted mt-3">
      Not registered yet? <a routerLink="/register" class="text-purple fw-bold text-decoration-none">Create an account</a>
    </p>

  </div>
</div>
